/* Header */

.header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35px,
    rgba(0, 0, 0, 0.7) 40px,
    rgba(0, 0, 0, 0.7) 100%
  );
  /* Transparan arka plan  background-color: rgba(0, 0, 0, 0.7); */
  padding: 20px;
  text-align: center;
  position: fixed; /* Header'ı sabitler */
  width: 100%;
  top: 0;
}
.headerButton {
  background-color: red;
  color: white;
  height: 40px;
  text-align: center;
  &:hover {
    background-color: darkred;
    color: beige;
  }
}
.headerButton-container {
  padding: 10px;
  display: flex;
  gap: 0.5rem;
}

/* Main Page*/
.mainPage-container {
  color: white;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/mainpage-bg.jpg");
  background-size: cover;
}

/*Login Page*/
.loginPage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/src/assets/mainpage-bg.jpg");
  background-size: cover;
}

/*Login form*/
.form-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  padding-right: 50px;
  width: 500px;
  justify-content: center;
  align-items: center;
}
.input-container {
  width: 100%;
  padding: 20px;
  button {
    width: 100%;
    background-color: red;
    color: white;
    border: 1px solid black;
    &:hover {
      background-color: darkred;
      color: beige;
    }
  }
}
.input-field {
  width: 100%; /* Genişliği %100 yapar */
  max-width: 600px; /* Maksimum genişlik */
  height: 50px; /* Yükseklik */
  padding: 10px; /* İç boşluk */
  font-size: 18px; /* Yazı boyutu */
  border: 1px solid #ccc; /* Kenarlık */
  border-radius: 5px; /* Köşe yuvarlama */
  box-sizing: border-box; /* Padding ve border'ı genişlik ve yükseklik hesaplamalarına dahil eder */
}

/*Profiles*/
.profiles-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profiles {
  display: flex;
  align-items: center;
  justify-content: center;
}
